<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>北京富广文化传媒有限公司-会员中心</title>
	<meta name="generator" content="editplus">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,chrome=1" />
	<meta content="投资分红" name="keywords">
	<link rel="stylesheet" type="text/css" href="/css/style.css" media="all">
	<link rel="stylesheet" type="text/css" href="/css/u.css" media="all">
	<script type="text/javascript" src="/js/jquery1.3.2.js"></script>
	<script type="text/javascript" src="/js/socket.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
	<script type="text/javascript" src="/js/date.js"></script>
	<script type="text/javascript">
		var userName = '{%=name%}';
	</script>
</head>
<body>
<body>
	<div class="ll-wrap">
	<div id="hbg">
		<div id="navigationBar">
			<a href="/" id="navhome"><img src="/image/logo.png" height="52px"/></a></li>
		</div>
	</div>

	
<div class="room">
	<!-- 连接界面-->
	<div id="connecting">
		<div class="wrap">正在连接到服务器...</div>
	</div> 
	
	<div id='chat' class='clearfix'>
		<div id="messages">
			<div class="scrollbar" id="lines"><div class="line">	<div class="message-header">		<span class="message-from">系统</span>		
			<span class="message-timestamp"></span>	</div>	<div class="message-text"></div></div></div>
		</div>
		<div id="online" class='clearfix'>
			<div class="title">在线成员列表</div>
			<div id="nicknames" class="scrollbar">
			</div>
		</div>
		<div id="send-message">
			<input id="message">
			<button id="btn">发送</button>
		</div>
	</div>
</div>
	<div id="footer" class="clearfix">
		<div class="f-l"></div>
		<p>
			<a href="<?=B . '/invest/about'?>">关于我们</a> | 
			<a href="<?=B . '/invest/help'?>" target="_blank">新手上路</a> | 
			<a href="<?=B . '/invest/question'?>">常见问题</a> | 
			<a href="<?=B . '/invest/benefit'?>">投资效益</a> | 
			<a href="<?=B . '/invest/concat'?>" target="_blank">联系方式</a> |
			<a href="<?=B . '/invest/vert'?>" target="_blank">公司证书</a> |
			<a href="<?=B . '/invest/note'?>" target="_blank">客户交流</a>
		</p>
		<p>Copyright © 2012 北京富广文化传媒有限公司</p>
	</div><!-- end of footer -->

</div>
	
</div>
</body></html>